$bgc:#252525;
$textColor: #707070;
$textHover: #e5493a;
$white:#fff;
$border:rgb(54, 54, 54);
$worksBg:#202020;
$worksLineBg:#2f2f2f;
$worksShadow:rgb(44,44,44);
$worksDescript: rgb(149, 149, 149);
$worksBtnsBgc: #252525;
$responsBtn: #8dc63f;
