//systam styles
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "mixins";

//vars
$bgPortfolioInfo: rgb(30, 41, 57);
$portfolioText:#fff;
$portfolioSpan:rgba(255, 255, 255, 0.502);
$listStyle:#ff6b08;

//pages styles
.wrap {
  padding: 0;
}

.container {
  background-color: #f5f7fa;
}

.portfolio__wrap {
  display: flex;

}

.portfolio__info {
  max-width: 370px;
  background:$bgPortfolioInfo ;
  margin-top: 40px;
}


.portfolio__profile {
  margin-top: 40px;
}
.portfolio__skills {
   margin-left: 40px;
  margin-top: 35px;
}

.portfolio{
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.091;
    text-align: left;
    
  
}


.portfolio__item  {
   list-style: none;
 
  a { 
     font-size: 14px;
    font-family: "Montserrat";
    color: $portfolioText;
    font-weight: bold;
    line-height: 1.714;
    text-align: left;
  }
  span {
      margin-left: 15px;
      color: $portfolioSpan;
      line-height: 1.714;
   }

}

.portfolio__contact {
  margin-left: 20px;
  margin-bottom: 55px;
 
}

.portfolio__link {
 
  span{
  &:hover {
    text-decoration: underline;
   }
 }
}


.portfolio__techSkills,.portfolio__softSkills{
  margin-left: 20px;
  margin-bottom: 55px;
  .portfolio__item {
    list-style: disc;
    color: $listStyle;
  }
  .portfolio__list{
    margin-left: 25px;
    
  }

}



.portfolio__developer {
  padding-left: 90px;
  margin-top: 40px;
  flex-grow: 1;
  background-color: $portfolioText;
}
.portfolio__head {
    margin-top: 110px;
    .portfolio__block--title{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.714;
    }  
  
}

.portfolio__developer__info {
  .portfolio__developer--title {
      font-size: 45px;
      font-family: "Montserrat";
      color: rgb(0, 0, 0);
      font-weight: bold;
      line-height: 1.978;
  }
  .portfolio__developer--text {
      font-size: 14px;
      font-family: "Montserrat";
      color: rgb(89, 89, 89);
      line-height: 1.714;
      margin-top: -35px;
 }
}

.portfolio__developer__list {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.714;
    text-align: left;
    margin-left: -25px;
}

.portfolio__projects--link {
    font-family: "Montserrat";
    color: rgb(89, 89, 89);
    line-height: 1.714;
    text-align: left;
    &:hover {
      color:#ff6b08;
    }
    span {
      color:#000;
    }
}

.portfolio__work--title {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
  span {
    color:#ff6b08;
  }
}

.portfolio__work__time {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(168, 168, 168);
    line-height: 2;
    text-align: left;
    span {
      color: #000;
    }
}

.portfolio__work__item {
  color:rgb(168, 168, 168);
  margin-left: 15px;
}

.portfolio__work__text {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(89, 89, 89);
    line-height: 1.714;
    margin-left: 15px;
   
}

.portfolio__work--info {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.091;
}

.portfolio__university {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(255, 107, 8);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

.portfolio__professional {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.714;
}

@media (max-width:980px){
  .portfolio__developer {
    padding-left: 30px;
  }
}

@media (max-width:768px) {
   .portfolio__wrap {
     flex-direction: column;
   }

   .portfolio__info {
     max-width: 100%;
   }

   .portfolio__profile {
     justify-content: center;
     max-width: 100%;
     margin-left:8%;
   }

   .portfolio__skills {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
   }

 }

 @media (max-width:480px) {
   .portfolio__profile  {
     display: none;
   }
 }